notebook/**/*.ipynb',
    'notebook/**/*.md',
    'notebook/**/*.py',
    'notebook/**/*.R',
    'notebook/**/*.Rmd',
    'notebook/**/*.Rnw',
    'notebook/**/*.Rtex',
    'notebook/**/*.jl',
    'notebook/**/*.jl.md',
    'notebook/**/*.jl.txt',
    'notebook/**/*.jl.html',
    'notebook/**/*.jl.xhtml',
    'notebook/**/*.jl.ipynb',
    'notebook/**/*.jl.jl',
    'notebook/**/*.jl.R',
    'notebook/**/*.jl.Rmd',
    'notebook/**/*.jl.Rnw',
    'notebook/**/*.jl.Rtex',
    'notebook/**/*.jl.jl',
    'notebook/**/*.jl.jl.md',
    'notebook/**/*.jl.jl.txt',
    'notebook/**/*.jl.jl.html',
    'notebook/**/*.jl.jl.xhtml',
    'notebook/**/*.jl.jl.ipynb',
    'notebook/**/*.jl.jl.jl',
    'notebook/**/*.jl.jl.R',
    'notebook/**/*.jl.jl.Rmd',
    'notebook/**/*.jl.jl.Rnw',
    'notebook/**/*.jl.jl.Rtex',
    'notebook/**/*.jl.jl.jl',
    'notebook/**/*.jl.jl.jl.md',
    'notebook/**/*.jl.jl.jl.txt',
    'notebook/**/*.jl.jl.jl.html',
    'notebook/**/*.jl.jl.jl.xhtml',
    'notebook/**/*.jl.jl.jl.ipynb',
    'notebook/**/*.jl.jl.jl.jl',
    'notebook/**/*.jl.jl.jl.R',
    'notebook/**/*.jl.jl.jl.Rmd',
    'notebook/**/*.jl.jl.jl.Rnw',
    'notebook/**/*.jl.jl.jl.Rtex',
    'notebook/**/*.jl.jl.jl.jl',
    'notebook/**/*.jl.jl.jl.jl.md',
    'notebook/**/*.jl.jl.jl.jl.txt',
    'notebook/**/*.jl.jl.jl.jl.html',
    'notebook/**/*.jl.jl.jl.jl.xhtml',
    'notebook/**/*.jl.jl.jl.jl.ipynb',
    'notebook/**/*.jl.jl.jl.jl.jl',
    'notebook/**/*.